
uploads/VGG16F1.zip
/NASAMainPage/static/Datasets/
/NASAMainPage/static/models/
NASAInteractive/__pycache__/__init__.cpython-312.pyc
NASAInteractive/__pycache__/settings.cpython-312.pyc
NASAInteractive/__pycache__/urls.cpython-312.pyc
NASAInteractive/__pycache__/wsgi.cpython-312.pyc
NASAMainPage/__pycache__/__init__.cpython-312.pyc
NASAMainPage/__pycache__/admin.cpython-312.pyc
NASAMainPage/__pycache__/apps.cpython-312.pyc
NASAMainPage/__pycache__/models.cpython-312.pyc
NASAMainPage/__pycache__/urls.cpython-312.pyc
NASAMainPage/__pycache__/views.cpython-312.pyc
NASAMainPage/migrations/__pycache__/0001_initial.cpython-312.pyc
NASAMainPage/migrations/__pycache__/0002_alter_dataset_dataset_number_of_images.cpython-312.pyc
NASAMainPage/migrations/__pycache__/0003_delete_insertdatasetzip.cpython-312.pyc
NASAMainPage/migrations/__pycache__/__init__.cpython-312.pyc
NASAMainPage/static/scripts/__pycache__/mass_insert.cpython-312.pyc
*.pyc
