body {
    display: grid;
}

#datasettitle {
    text-align: center;
    margin-top: 330px;
    position: relative;
}

#datasetinfo {
    position: relative;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Space between columns */
}

#datasetdescription {
    height: 500px; /* Set the desired height */
    overflow: auto; /* Add scrollbars if content exceeds the height */
}

#dataset-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px; /* Space between grid items */
}

.pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active{
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd}


table, th, td {
    border: 1px solid black
}

table {
    width: 100%;
}

#dataset-filter {
    display: flex;
    flex-direction: column;
    border: 2px solid black; /* Add a border */
    padding: 5px; /* Optional: Add some padding inside the border */
    border-radius: 5px; /* Optional: Add rounded corners */
    max-width: 300px;
}

#filter_class {
    display: block;
}

#filter_label{
    display: block;
}

#class_buttons {
    display: flex;
    flex-direction: column;
}

#class_buttons input[type="radio"] {
    margin-right: 10px; /* Space between radio button and label */
}

#class_buttons label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between each choice */
}

#class_buttons div {
    display: flex;
    align-items: center; /* Vertically center the radio button with the label */
}