{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classifier Clash - Gameplay</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/game/classifier_clash.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/game/gameplay.css' %}">
    <script src="{% static "scripts/game/gameplay.js" %}"></script>
    <script>
        const model = "{{ model }}";
        const image = "{% static round_image|safe %}";
        const round_number = {{ round_number }};
        const classChoices = {{ model_class_choices|safe }};
        const correct_class = "{{ correct_class }}";
        const gameid = {{ gameid }}
    </script>
</head>
<body>
<div id="timer"></div>
<div id="main-content">
    <img id="image" alt="image" src="{% static round_image %}" />
    <div class="button-container">
        {% for cls in class_choices %}
            <button class="class-buttons">{{ cls }}</button>
        {% endfor %}
    </div>
</div>
</body>
</html>