<!-- NASAMainPage/templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<div id="top-nav-bar">
    <div id="pagetop">
        <img id="NASALogo" src="{% static 'images/nasa_logo.png' %}" alt="NASA Logo">
        <img id="EasternLogo" src="{% static 'images/eastern_logo.png' %}" alt="Eastern Logo">
        <h1 id="CNN">Advancing Mars Image Classification: A Comparative Study of CNN Models with Interactive Applications</h1>
    </div>
</div>
<div id="subtopnav">
    <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
    <a href="{% url 'models' %}" class="{% if request.resolver_match.url_name == 'models' %}active{% endif %}">Models</a>
    <a href="{% url 'datasets' %}" class="{% if request.resolver_match.url_name == 'datasets' %}active{% endif %}">Datasets</a>
    <a href="{% url 'game' %}" class="{% if request.resolver_match.url_name == 'game' %}active{% endif %}" target="_blank">Game</a>
    <a href="{% url 'about-us' %}" class="{% if request.resolver_match.url_name == 'about-us' %}active{% endif %}">About Us</a>
    <a>Past Work</a>
    <a>Past Members</a>
    <a>Definitions</a>
    <a>Information</a>
    <a href="http://localhost:8000/admin/">Admin</a>
</div>
<div id="abstract">
    <article>
        <h2 id = "abstracth">Abstract</h2>
        <p id="abstractp">This study leverages AI to investigate Convolutional Neural Networks (CNNs) for classifying Martian geological images, focusing on a comparative analysis of EfficientNet and VGGNet architectures.
            These models were tested on two specific NASA datasets. The HiRISE orbital dataset comprises 3820 grayscale images of Mars captured from orbit, categorized into six landmark types. The Mars Science Laboratory (MSL) surface dataset
            contains over 6,000 images of Martian landscapes classified into 24 categories. By comparing accuracy, efficiency, and computational requirements, this research aims to determine the optimal CNN model for Martian image classification.
            <br>
            <br>
            To make these findings accessible, we developed a web application using the Python-based Django framework. The application enables users to interact with the AI models and datasets,
            fostering a deeper understanding of AI’s role in image classification. Users can test the EfficientNet and VGGNet models,  explore classification results, and examine evaluation metrics.
            The application also includes the HiRISE and MSL datasets, allowing users to analyze the data that shaped the models' training and testing processes.
            <br>
            <br>
            A unique feature of the application is an interactive game, "Are You Smarter than an AI?", where users can challenge the models by attempting to classify Martian images and compare their accuracy against that of the CNN/AI models.
            This engaging feature helps users understand AI's capabilities and limitations.
            <br>
            <br>
            This project bridges advanced AI research and public engagement, highlighting the importance of deep learning in planetary science. The integration of Django ensures a seamless user experience, transforming complex research into an
            accessible educational tool. Beyond Martian image classification, this study lays a foundation for using CNNs in broader scientific image analysis tasks.
            Through its interactive and educational approach, the project promotes understanding and application of AI technologies, preparing users for the expanding role of machine learning in science and beyond.
        </p>
    </article>
</div>
</body>
</html>