<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
{#    <script src="{% static 'scripts/LoadModel.js' %}" defer></script>#}
    <script src="/NASAMainPage/static/scripts/LoadModel.js" defer></script>
</head>
<body>
<article>
    <header>
        <h1>A heading here</h1>
        <p>Posted by John Doe</p>
        <p>Some additional information here</p>
    </header>
    <p>Lorem Ipsum dolor set amet....</p>
</article>
<div id="prediction-result">testing</div>
</body>
</html>