body {
    background-color: #EFD6AC;
    overflow-y: auto; /* Enable vertical scrolling for the entire page */
    display: block; /* Ensure body content is not centered */
    align-items: flex-start; /* Align items to the start */
}

#datasettitle {
    text-align: center;
    margin-top: 330px; /* Adjust this value to be greater than the height of #subtopnav */
    position: relative;
}

#dataset-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
    gap: 20px; /* Add space between the grid items */
    position: relative;
    margin-top: 25px; /* Adjust this value to create space below the title */
    left: 0; /* Ensure it is aligned to the left */
    text-align: left; /* Align the content to the left */
    padding: 4px 20px; /* Add padding to the sides */
    z-index: 0; /* Ensure it appears above other elements */
    overflow-y: visible; /* Allow the content to be visible */
    margin-left: 0; /* Ensure it is aligned to the left */
}

#dataset-name {
    text-align: center;
    margin-left: 0; /* Ensure it aligns to the left */
}

#numberofimages {
    text-align: center;
}

.dataset-list-item {
    border-radius: 0; /* Remove the rounded corners to make it a square */
    border: 2px solid red;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    width: 115px; /* Set a fixed width */
    height: 115px; /* Set a fixed height to make it a square */
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
    background-size: cover; /* Ensure the background image covers the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    z-index: 5; /* Ensure it is above other elements */
    position: relative; /* Ensure z-index is applied */
}

.dataset-list-item:active {
    position: relative;
    top: 1px;
}

.dataset-item {
    padding: 20px; /* Add padding inside each dataset item */
    font-size: 20px;
    background-color: #BFA17B;
    margin-bottom: 20px; /* Add a gap between items */
}