<!-- NASAMainPage/templates/models/model.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ model.model_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/models/model.css' %}">
    <script>
        const fold = {{ fold|safe }};
    </script>
    <script src="{% static 'scripts/models/fold_pages.js' %}"></script>
</head>
<body>
<div id="top-nav-bar">
    <div id="pagetop">
        <img id="NASALogo" src="{% static 'images/nasa_logo.png' %}" alt="NASA Logo">
        <img id="EasternLogo" src="{% static 'images/eastern_logo.png' %}" alt="Eastern Logo">
        <h1 id="CNN">Advancing Mars Image Classification: A Comparative Study of CNN Models with Interactive Applications</h1>
    </div>
</div>
<div id="subtopnav">
    <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
    <a href="{% url 'models' %}" class="{% if request.resolver_match.url_name == 'models' %}active{% endif %}">Models</a>
    <a href="{% url 'datasets' %}" class="{% if request.resolver_match.url_name == 'datasets' %}active{% endif %}">Datasets</a>
    <a href="{% url 'game' %}" class="{% if request.resolver_match.url_name == 'game' %}active{% endif %}">Game</a>
    <a href="{% url 'about-us' %}" class="{% if request.resolver_match.url_name == 'about-us' %}active{% endif %}">About Us</a>
    <a>Past Work</a>
    <a>Past Members</a>
    <a>Definitions</a>
    <a>Information</a>
    <a href="http://localhost:8000/admin/">Admin</a>
{#    <a href="{% url 'index' %}">Index</a>#}
</div>
<h1 id="modeltitle">{{ model.model_name }}</h1>
<div id="information">
    {% if active %}
        <h1 style="color:green">Active</h1>
        <a href="{% url 'test_model' model.id %}">Test Model</a>
    {% else %}
        <h1 style="color:red">Inactive</h1>
    {% endif %}
    <h2>Epochs: {{ model.model_epoch }}</h2>
    <h2>Batch Size: {{ model.model_batch_size }}</h2>
    <h2 id="datasettitle">Dataset: {{ model.model_dataset }}</h2>
</div>
<div id="description">
    <h1>Description of {{ model.model_name }}</h1>
    <h3 id="modeldesc">{{ model.model_description }}</h3>
</div>
{#<img id="aimodelimage" src="{% static model.model_image %}" alt="aimodelimage">#}
<div id="sections">
    {% for section in sections.values %}
        <h1 id="sectionname">{{ section.section_name }}</h1>
        <h3>{{ section.section_info }}</h3>
    {% endfor %}
</div>

<div id="foldbuttons">
    {% for fold_name, fold_data in fold.items %}
        <input class="foldbutton" type="button" value="{{ fold_name }}">
    {% endfor %}
</div>
<div id="foldinfo">

</div>
{#<div id = "foldinfo">#}
{#    {% for fold_name, fold_data in fold.items %}#}
{#        <h2>{{ fold_name }} Performance</h2>#}
{#        <p>Confusion Matrix: </p>#}
{#        <img id="cm" src="{% static fold_data.ConfusionMatrix %}" alt="Confusion Matrix">#}
{#        <h3>Class Performance</h3>#}
{#        <p>Accuracy: {{ fold_data.Accuracy }}%</p>#}
{#        <table>#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Class</th>#}
{#                <th>Precision</th>#}
{#                <th>Recall</th>#}
{#                <th>F1 Score</th>#}
{#                <th>Support</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for class_name, metrics in fold_data.Classes.items %}#}
{#                <tr>#}
{#                    <td>{{ class_name }}</td>#}
{#                    <td>{{ metrics.Precision }}</td>#}
{#                    <td>{{ metrics.Recall }}</td>#}
{#                    <td>{{ metrics.F1Score }}</td>#}
{#                    <td>{{ metrics.Support }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    {% endfor %}#}
{#</div>#}
</body>
</html>